body {
	background: linear-gradient(to right, #ffafbd, #ffc3a0);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 90px;
	color: white;
	padding-bottom: 20px;
	text-align: center;
	font-family: "Poetsen One", sans-serif !important;
	text-shadow: 1px 1px #fe4902, 3px 3px #fe4902, 4px 4px #fe4902,
		0 3px 10px rgb(0 0 0 / 0.7);
}

.todo-list {
	font-family: "Roboto", sans-serif;
}

.todo-list {
	margin: auto !important;
	width: 90%;
}

.icon-btn {
	transition: all 0.2s ease-in-out;
}

.icon-btn:hover {
	transform: scale(1.2);
}

.crossed-line {
	text-decoration: line-through;
	color: grey;
}

.google-btn,
.todo-item,
.todo-input {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.5) !important;
}

.form-btn {
	font-weight: bold !important;
}

.err-msg {
	margin: auto !important;
	width: 45%;
	text-align: center;
	margin-top: 5px !important;
}

.todo-item,
.todo-list {
	border-radius: 3px !important;
}

@media only screen and (min-width: 992px) {
	h1 {
		font-size: 100px;
	}

	.todo-list,
	.todo-form {
		margin: auto !important;
		width: 40%;
	}

	.err-msg {
		width: 25%;
	}
}

@media only screen and (min-width: 445px) and (max-width: 991px) {
	.todo-list,
	.todo-form {
		margin: auto !important;
		width: 70%;
	}
}

@media only screen and (max-width: 444px) {
	h1 {
		font-size: 60px !important;
	}

	.todo-form {
		margin: auto !important;
		width: 90%;
	}

	.todo-input {
		font-size: 15px !important;
	}

	.todo-item,
	.icon-btn {
		font-size: 20px !important;
	}

	.google-btn {
		font-size: 15px !important;
	}
}
